*.DS_Store

# data files
data/raw/**/*
data/derived/

# allow tracking of .dvc files
!data/raw/*.dvc
!data/raw/**/*/
!data/raw/**/*.dvc

# allow tracking of documentation
!data/raw/documentation/*

# results
output/